.jumbotron {
  padding-top: 6rem;
  background-color: #ddedf8;
}

.badge {
  background-color: rgb(72, 230, 125);
}

#projects {
  background-color: #ddedf8;
}

section {
  padding-top: 5rem;
}

@font-face {
  font-family: "ZenDots";
  src: url("font/ZenDots-Regular.ttf") format("truetype");
}

h5 {
  font-family: "ZenDots", Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}
